<div class="bg-dark aboutus-page vh-100">
    <div class="aboutus-text">
        <h2 class="display-4 text-white">About Us</h2>
        <p class="text-white mt-5">
We were founded in November, 2021. As a group of friends and tech enthusiasts we have dedicated ourselves to the idea of mixing our insights and ideas freely among us to create a program that helps others easily tweak their system.</p>
    </div>
    

</div>
