<header
      class="text-start text-white shadow-lg d-xl-flex justify-content-xl-center align-items-xl-center masthead"
    >
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0 text-white">One tool to boost</h1>
          <h2 class="masthead-subheading mb-0 text-white">your machine</h2>
          <a
            class="btn btn-primary btn-xl rounded-pill mt-5"
            role="button"
            href="/users/signin"
            >purchase now</a  
          >
        </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>
    <section class="bg-dark">
      <div class="container bg-dark">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img
                class="rounded-circle img-fluid"
                src="assets/img/fredrick-tendong--GMUHeFuJUs-unsplash.jpg"
              />
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="text-white p-5">
              <h2 class="display-4 text-white">Made for gamers...</h2>
              <p class="text-white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                aliquid, mollitia odio veniam sit iste esse assumenda amet
                aperiam exercitationem, ea animi blanditiis recusandae! Ratione
                voluptatum molestiae adipisci, beatae obcaecati.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-dark">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <img
                class="rounded-circle img-fluid"
                src="assets/img/fredrick-tendong-6ou8gWpS9ns-unsplash.jpg"
              />
            </div>
          </div>
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <h2 class="display-4 text-white">Get the ultimate experience</h2>
              <p class="text-white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                aliquid, mollitia odio veniam sit iste esse assumenda amet
                aperiam exercitationem, ea animi blanditiis recusandae! Ratione
                voluptatum molestiae adipisci, beatae obcaecati.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-dark">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img
                class="rounded-circle img-fluid"
                src="assets/img/fredrick-tendong-HVYepJYeHdQ-unsplash.jpg"
              />
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4 text-white">
                Live a experience like no other!
              </h2>
              <p class="text-white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                aliquid, mollitia odio veniam sit iste esse assumenda amet
                aperiam exercitationem, ea animi blanditiis recusandae! Ratione
                voluptatum molestiae adipisci, beatae obcaecati.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>