.signup-form {
    background: linear-gradient(335deg, rgba(242,20,255,1) 0%, #fd7e14 60%);
    padding: 2rem;
    max-width: 740px;
    width: 60%;
    margin: auto;
    margin-top: 6rem;
}
.legend-signup {
    color: white;
    margin-bottom: 2rem;
}
.floatingInput {
    color: rgb(0, 0, 0);
}
#floatingInput, #floatingPassword {
    background-color: rgba(255, 255, 255, 0.739);
    border: none;
    box-shadow: none;
    border-radius: 8px;
}
input[type="button"] {
    transition: all 0.3s;
    box-shadow: rgba(55, 78, 109, 0) 5px 5px 10px, rgba(35, 36, 35, 0) -5px -5px 10px;
}
.atag {
    color: white;
    transition: all 0.2s;
}
@media (max-width: 1024px) {
    .signup-form {
        max-width: 450px;
        width: 90%;
        margin: auto;
        margin-top: 6rem;
    }
}