<nav
      class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom border-bottom"
    >
      <div class="container">
        <a class="navbar-brand" href="/">Hydrus</a
        ><button
          data-bs-toggle="collapse"
          class="navbar-toggler"
          data-bs-target="#navbarResponsive"
        >
          <span class="visually-hidden">Navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        {{#if user}}
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="/users/myAccount">my account</a></li>
            <li class="nav-item"></li>
          </ul>
        </div>
        {{else}}
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="/users/signin">log into your account</a></li>
            <li class="nav-item"></li>
          </ul>
        </div>
        {{/if}}
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" href="/about" data-bs-toggle="dropdown">learn more</a>
              <div class="dropdown-menu bg-dark text-light">
                <a href="/about" class="dropdown-item text-light">About Us</a>
                <a href="/polices" class="dropdown-item text-light">Policies</a>
                <a href="/hydrus" class="dropdown-item text-light">About Hydrus</a>
              </div>
            </li>
            <li class="nav-item"></li>
          </ul>
        </div>
      </div>
    </nav>
