<div class="bg-dark signup-page vh-100">
    <div class="bg-dark signup-form rounded">
        <form action="/users/signin" method="POST">
            <legend class="legend-signup">Enter your account</legend>
            <div class="form-group">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                    <label for="floatingPassword">Password</label>
                </div>
            </div>
            <p><small>Create a new account <a href="/users/signup" class="atag">Here</a></small></p>
            <button class="btn btn-primary rounded-pill">Log in</button>
    </div>
    </form>
</div>
</div>